<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>

	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>so</short-name>
    
	<description>
		<![CDATA[Custom tag library for blog]]>
	</description>
	<tag>
		<name>pager</name>
		<tag-class>com.sohu.blog.web.tag.PagerTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>curPage</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>totalCount</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>itemPerPage</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>showPageCount</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>showLastPage</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>extraAttr</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	
    <tag>
        <name>date</name>
        <tag-class>com.sohu.blog.web.tag.DateTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>t</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Long</type>
        </attribute>
        <attribute>
            <name>format</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    
    <tag>
        <name>timestamp</name>
        <tag-class>com.sohu.spaces.web.content.tag.TimestampTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>ts</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>format</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <name>seconds</name>
        <tag-class>com.sohu.spaces.web.content.tag.SecondsTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>s</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Integer</type>
        </attribute>
    </tag>
           

   <tag>
    <name>substring4title</name>
    <tag-class>com.sohu.spaces.web.util.SubString4TitleTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>content</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>length</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Integer</type>
    </attribute>
  </tag>
  
  
   <tag>
    <name>substring</name>
    <tag-class>com.sohu.spaces.web.util.SubStringTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>content</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>begin</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Integer</type>
    </attribute>
    <attribute>
      <name>end</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Integer</type>
    </attribute>
  </tag>

  
   <tag>
    <name>stringlength</name>
    <tag-class>com.sohu.spaces.web.util.StringLengthTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>content</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>escapeMoreEnter</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
  </tag>   
  
   <tag>
    <name>escape</name>
    <tag-class>com.sohu.spaces.web.util.EscapeTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>content</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  
  <tag>
    <name>name</name>
    <tag-class>com.sohu.spaces.web.util.NameTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>uid</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Long </type>
    </attribute>
    <attribute>
      <name>linked</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
    <attribute>
      <name>show</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>paramName</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
        <name>profile-pic</name>
        <tag-class>com.sohu.spaces.web.util.ProfilePicTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>uid</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Long</type>
        </attribute>
        <attribute>
            <name>size</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>linked</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>boolean</type>
        </attribute>
        <attribute>
            <name>scale</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.Integer</type>
        </attribute>
        <attribute>
            <name>def</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    
    <tag>
        <name>countEntryReply</name>
        <tag-class>com.sohu.spaces.reply.tag.CountEntryReplyTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>entryId</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    
    <tag>
        <name>countReply</name>
        <tag-class>com.sohu.spaces.reply.tag.CountReplyTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>objId</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>objType</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>subObjId</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>replyId</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    
    <tag>
        <name>encode</name>
        <tag-class>com.sohu.spaces.web.util.EncoderTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>content</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
    </tag>
    
    <tag>
		<name>userMedal</name>
		<tag-class>com.sohu.spaces.web.util.UserMedalTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>uid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.Long</type>
		</attribute>
	</tag>
  
</taglib>